// Primary colors
$Pri-Instock-Black: #13182C;
$Pri-Instock-Indigo: #2E66E5;
$Pri-White: #FFFFFF;

// Secondary colors
$Sec-Slate: #5C667E;
$Sec-Cloud: #BDC5D5;

// Background colors
$Bg-Graphite: #232940;
$Bg-Light-Grey: #F7F8F9;

// Supporting colors
$Sup-Green: #158463;
$Sup-Red: #C94515;

// Layout
$Gutter-Desktop: 2.2rem;
$Gutter-Tablet: 2.2rem;
$Gutter-Mobile: 1.45rem;

$Column-Desktop: 5.7rem;
$Column-Tablet: auto;
$Column-Mobile: auto;

$Margin-Desktop: auto;
$Margin-Tablet: 2.9rem;
$Margin-Mobile: 1.45rem;

$Padding-Base: 0.72rem;
$Padding-Medium: $Padding-Base * 2;
$Padding-Large: $Padding-Base * 3;